<footer class="page-footer teal lighten-4">
  <div class="container">

    <div class="center">
        <p class="black-text">Centro de Infracciones</p>
        <p class="black-text">Dirección : San Judas </p>
        <p class="black-text">Teléfono : (032)2099054 </p>
        <p class="black-text">Pereira Risaralda</p>
    </div>

  </div>
  <div class="footer-copyright teal lighten-3">
    <div class="container center">
      <p class="black-text">© 2016 Todos los derechos reservados.</p>
    </div>
  </div>

</footer>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/materialize.min.js"></script>
</body>
</html>
