<nav>
  <div class="nav-wrapper teal">
    <a href="/" class="brand-logo center"><i class="very large material-icons">dashboard</i>B<b>&</b>W</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
      <li><a href="/login_consult">Consult</a></li>
    </ul>
  </div>
</nav>
