<nav>
  <div class="nav-wrapper teal ligthen-2">
    <a href="#!" class="brand-logo center"><i class="large material-icons">assignment</i>Centro de Infracciones</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/users">Login</a></li>
      <li><a href="/">Consult</a></li>
    </ul>
  </div>
</nav>
