<% include header %>
<body background-color = 'teal'>
  <% include nav-bar %>
      <form action="/root" method="post"><div class="login">
        <input type = "submit" class="btn btn-primary btn-large btn-block " href= "/register_mult" name= "boton" value="Ingresar Multa">
        <input type = "submit" class="btn btn-primary btn-large btn-block " href= "/delete_person" name= "boton" value="Eliminar Persona">
        <input type = "submit" class="btn btn-primary btn-large btn-block " href= "/update_person" name= "boton" value="Actualizar datos de persona">
      </div>
    </form>
</body>
